{% extends 'layout.html' %}

{% block context %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2>命令</h2>
            <a href="#" class="btn btn-primary">起動</a>
            <a href="#" class="btn btn-primary">開始</a>
            <a href="#" class="btn btn-primary">停止</a>
            <a href="#" class="btn btn-primary">終了</a>
            <a href="#" class="btn btn-primary">レーン指定</a>
            <a href="#" class="btn btn-primary">熟度指定</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2>手動操作</h2>
            <a href="#" class="btn btn-primary">前進</a>
            <a href="#" class="btn btn-primary">回転右</a>
            <a href="#" class="btn btn-primary">回転左</a>
            <a href="#" class="btn btn-primary">後退</a>
            <a href="#" class="btn btn-primary">停止</a>
        </div>
    </div>
</div>
{% endblock %}